<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= bookReviews.book.title %></h2>
    <p>ID: <%= bookReviews.book._id %></p>
    <p>Author: <%= bookReviews.book.author %></p>
    <p>Description: <%= bookReviews.book.description %></p>
  </body>
</html>
