<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <h1>Welcome to Libraries Club</h1>
    <h1>Have account<a href="/auth/sign-in">Login</a></h1>
    <h1>Don't have an account? <a href="/auth/sign-up">Register</a></h1>
  </body>
</html>
