body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: #2c3e50;
  margin-bottom: 10px;
}

/* حاوية الفورم */
form {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  color: #34495e;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* تنسيق حقول الإدخال */
input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #3498db;
}

/* تنسيق الزر */
button {
  background-color: #3498db;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #2980b9;
}

/* روابط التسجيل */
h4 {
  margin-top: 20px;
  font-weight: normal;
  color: #7f8c8d;
}

h4 a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

h4 a:hover {
  text-decoration: underline;
}
