<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Libraries Club</h1>
  <% if (!user) { %>
  <a href="/auth/sign-up"> Create Account </a>
  <a ref="/auth/sign-in"> login </a>

  <%} else { %>

    <div class="Profile">
 <img src="<%=libraryDetails.user.picture%>" alt="Profile Picture" >
   <a ref="/views/userPage.ejs"> <%=libraryDetails.user.username%></a>

    </div>
<a href="/views/home.ejs"> Home</a>
<% } %>

</body>
</html>
