<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=libraryDetails.user.username%></title>
</head>
<body>
  <header>
    <img src="<%=libraryDetails.user.picture%>" alt="Profile Picture">
    <h2><%=libraryDetails.user.username%></h2>
    <%if(libraryDetails.user.typeOfUser ==="Library"){%>
      <a href="/books/create">Add Book</a>
      <%}%>
  </header>


</body>
</html>

